<footer>
  <div>
    <p><i class="far fa-copyright"></i> Copyright 2020</p>
  </div>
  <div class="social-media" style="color: blue;">
    <%= link_to "", "#", :class => "fab fa-github fa-fw icon" %>
    <%= link_to "", "#", :class => "fab fa-twitter icon" %>
  </div>
</footer>
