footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 0 20px 0 20px;
  height: 70px;
  background-color: black;
  color: white;
}

.icon {
  color: white;
  text-decoration: none;
}
